.menue_bar {
    width: 4rem;
    height: 0.3rem;
    background-color: var(--buttontype2);
    border-radius: 100px;
    transition: width 0.3s ease;
    /* padding: 2rem; */
}
.displaying_menue_options {
    opacity: 1 !important;
    transform: translateX(0px) !important;
    z-index: 10 !important;
    pointer-events :all !important;
}
#menue_button {
    height: 5rem;
    position: absolute;
    left: 0;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    padding-right: 1rem;

}

body.mobile #menue_button {
    height: 7rem;
}
body.mobile .menue_bar {
    height: 0.5rem;
}

.menue_bar:nth-child(2) {
    width: 3rem;
}
#menue_button:hover .menue_bar:nth-child(2){
    width: 4rem;
}
#menue_button:hover .menue_bar:nth-child(1){
    width: 5rem;
}
#menue_button:hover .menue_bar:nth-child(3){
    width: 3rem;
}

#menue_options {
    top: 6rem;
    position: absolute;
    left: 1rem;
    background-color: #0e223a;
    /* margin-left: 1.5rem; */
    color: white;
    font-size: 1.2rem;
    opacity: 0;
    /* flex-direction: column; */
    transform: translateX(-50px);
    z-index: 0;
    pointer-events: none;
}

.optionN {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding: 0.5rem;text-align: center;border: 1px solid white;padding: 1rem;color: white;cursor: pointer;}

#menue_options {
    transition: opacity 0.3s ease, transform 0.3s ease;
}
body.mobile #menue_options {
    top: 8rem;
    font-size: 3rem;
    left: -1px;
}

body.mobile .optionN {
    width: 100vw;
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
}